.head {
  background-color: rgb(247, 0, 0);
  width: 400px;
  display: flex;
  border: 1px solid grey;
  height: 40px;
}
.child1 {
  background-color: rgb(254, 255, 255);
  width: 100%;
  transition: all 0.5s;
}
.child2 {
  background-color: rgb(12, 172, 172);
  width: 0%;
  overflow: hidden;
  transition: all 0.5s;
  /* font-size: 0; */
}

.head:hover .child1 {
  width: 80%;
}
.head:hover .child2 {
  width: 20%;
  overflow: auto;
  /* font-size: 15px; */
}
